[submodule "com.here.validate.svrl"]
	path = com.here.validate.svrl
	url = https://github.com/heremaps/com.here.validate.svrl.git
[submodule "com.here.validate.svrl.overrides"]
	path = com.here.validate.svrl.overrides
	url = https://github.com/heremaps/com.here.validate.svrl.overrides.git
[submodule "com.here.validate.svrl.text-rules"]
	path = com.here.validate.svrl.text-rules
	url = https://github.com/heremaps/com.here.validate.svrl.text-rules.git
